[submodule "third_party/pyCuSFM"]
	path = third_party/pyCuSFM
	url = https://github.com/nvidia-isaac/pyCuSFM.git
[submodule "third_party/OpenSfM"]
	path = third_party/OpenSfM
	url = https://github.com/mapillary/OpenSfM
[submodule "third_party/Skyfall-GS"]
	path = third_party/Skyfall-GS
	url = https://github.com/jayin92/Skyfall-GS.git
[submodule "third_party/mast3r"]
	path = third_party/mast3r
	url = https://github.com/naver/mast3r.git
[submodule "third_party/LongSplat"]
	path = third_party/LongSplat
	url = https://github.com/NVlabs/LongSplat.git
[submodule "third_party/romo"]
	path = third_party/romo
	url = https://github.com/google-deepmind/romo.git
[submodule "third_party/sam2"]
	path = third_party/sam2
	url = https://github.com/facebookresearch/sam2.git
[submodule "third_party/CF-3DGS"]
	path = third_party/CF-3DGS
	url = https://github.com/NVlabs/CF-3DGS.git
[submodule "third_party/lietorch"]
	path = third_party/lietorch
	url = https://github.com/princeton-vl/lietorch.git
[submodule "third_party/Hierarchical-Localization"]
	path = third_party/Hierarchical-Localization
	url = https://github.com/cvg/Hierarchical-Localization/
[submodule "third_party/Depth-Anything-3"]
	path = third_party/Depth-Anything-3
	url = https://github.com/ByteDance-Seed/Depth-Anything-3.git
[submodule "third_party/depth_anything_v2"]
	path = third_party/depth_anything_v2
	url = https://github.com/DepthAnything/Depth-Anything-V2
[submodule "third_party/pixel-perfect-sfm"]
	path = third_party/pixel-perfect-sfm
	url = https://github.com/cvg/pixel-perfect-sfm
[submodule "third_party/nerfstudio"]
	path = third_party/nerfstudio
	url = https://github.com/nerfstudio-project/nerfstudio.git
[submodule "third_party/vggt"]
	path = third_party/vggt
	url = https://github.com/facebookresearch/vggt.git
[submodule "third_party/LangSplat"]
	path = third_party/LangSplat
	url = https://github.com/minghanqin/LangSplat.git
[submodule "third_party/gsplat"]
	path = third_party/gsplat
	url = https://github.com/nerfstudio-project/gsplat.git
[submodule "third_party/colmap"]
	path = third_party/colmap
	url = https://github.com/colmap/colmap.git
